apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
  labels:
    app.kubernetes.io/instance: realworld 
    app.kubernetes.io/name: realworld
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/instance: realworld 
      app.kubernetes.io/name: realworld
  template:
    metadata:
      {{- with .Values.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
        app.kubernetes.io/instance: realworld 
        app.kubernetes.io/name: realworld
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}
      containers:
        - name: {{ .Chart.Name }}
          securityContext:
            {{- toYaml .Values.securityContext | nindent 12 }}
          image: "{{ .Values.backend.image.repository }}:{{ .Values.backend.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.global.image.pullPolicy }}
          ports:
            - name: http
              containerPort: 3000
              protocol: TCP
          livenessProbe:
            httpGet:
              path: /api/tags/
              port: http
          readinessProbe:
            httpGet:
              path: /api/tags/
              port: http
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
          env:
            - name: MONGODB_URI
              value: mongodb://USERNAME:ROOT_PASSWORD@SERVICE_NAME
            - name: NODE_ENV
              value: production
            - name: SECRET
              value: shhhhhh
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}