:root {
  --base-font-size: 14px;
  --base-font-family: 'Open Sans', sans-serif;

  --code-font-family: 'Inconsolata', monospace;
  --code-font-size: 14px;
  --code-font-weight: 500;

  --blockquote-em-font-style: italic;

  --theme-color   : #24AE1D;
  --selection-color      : #c3e788;
  --sidebar-width: 22rem;
  --sidebar-background: #F8F8F8;
  --pagination-color: #262626;
}

.pagination-item, .pagination-item-title, .pagination-item-label {
    opacity: .8 !important;
    transition: all .2s;
    transition-property: all;
    transition-duration: 0.2s;
    transition-timing-function: ease;
    transition-delay: 0s;
}

.pagination-item:hover {
    opacity: 1 !important;
}

.grid2, .grid3, .grid3 {
  width: 100%;
}

.col {
  display: inline-block;
  vertical-align: top;
}

.grid2 .col {
  width: 50%;
}

.grid3 .col {
  width: 33.33%;
}

.grid4 .col {
  width: 25%;
}

.img-left {
  float: left;
  margin: 5px 25px 10px 0;
}
.img-right {
  display: inline-block;
  margin: 20px 0px 10px 25px;
}

.icon {
  margin: 20px auto;
  display: block;
  width: 25%;
  height: auto;
}

.img-center {
  margin: 40px auto;
  display: block;
  height: auto;
}

.img-shadow {
  margin: 40px 0;
  box-shadow: 0px 2px 16px #858585;
  height: auto;
}

.img-shadow-center {
  box-shadow: 0px 2px 16px #858585;
  margin: 40px auto;
  display: block;
  height: auto;
}
