:root {
  --base-font-size: 14px;
  --theme-color   : #24AE1D;
  --selection-color      : #c3e788;
  --sidebar-width: 22rem;
  --sidebar-background: #F8F8F8;
  --pagination-color: #262626;
}

.pagination-item, .pagination-item-title, .pagination-item-label {
    opacity: .8 !important;
    transition: all .2s;
    transition-property: all;
    transition-duration: 0.2s;
    transition-timing-function: ease;
    transition-delay: 0s;
}

.pagination-item:hover {
    opacity: 1 !important;
}

.grid2, .grid3, .grid3 {
  width: 100%;
}

.col {
  display: inline-block;
  vertical-align: top;
}

.grid2 .col {
  width: 50%;
}

.grid3 .col {
  width: 33.33%;
}

.grid4 .col {
  width: 25%;
}

.img-left {
  float: left;
  margin: 5px 25px 10px 0
}
.img-right {
  display: inline-block;
  margin: 20px 0px 10px 25px
}

.img-center {
  margin: 0 auto;
  display: block;
}

.img-shadow {
  box-shadow: 2px 2px 8px;
}

.img-shadow-center {
  box-shadow: 2px 2px 8px;
  margin: 0 auto;
  display: block;
}
