name: Test Front Matter

on:
  pull_request:
    branches: [ '*' ]
  workflow_dispatch:

jobs:
  test-front-matter:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v5

    - name: Setup Node.js
      uses: actions/setup-node@v5
      with:
        node-version: '22'

    - name: Install dependencies
      run: npm ci

    - name: Run Compare Front Matter
      run: npm run compare-front-matter
